<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="card my-10">
        <div class="card-body">
          <div class="w3-container w3-green" style=" background-color: #553c9a!important;">
            <center>
              <table style= "border-collapse: separate; border-spacing: 15px 5px;">
                <tr>
                  <td>
                    <img src="https://cdn-icons-png.flaticon.com/512/2773/2773319.png" width="60" height="60" />
                  </td>
                  <td>
                    <h2 class="text-gray-700" style= "color:#FFFFFF">
                   	 <center>New update in your appointments</center>
                    </h2>
                  </td>
                </tr>
              </table>
            </center>
          </div>
          <div class="space-y-3">
            <p class="text-gray-700">Hi <%= @schedule.client_enrollment_service.client_enrollment.client.first_name.truncate(6) %>,
              the following information was updated recently:
            </p>
            <center> 
              <table>
                <tr>
                  <td><p class="text-gray-700"><strong>Date:</strong><%= @schedule.date %></p></td>
                </tr>
                <tr>
                  <td><p class="text-gray-700"><strong>tart time:</strong><%= @schedule.start_time %></p></td>
                </tr>
                <tr>
                  <td><p class="text-gray-700"><strong>End time:</strong><%= @schedule.end_time %></p></td>
                </tr>
                <tr>
                  <td><p class="text-gray-700"><strong>Status:</strong><%= @schedule.status %></p></td>
                </tr>
              </table>
              <br>
            </center>
            <center>
              <%= link_to "Go to appointment","#{ENV["DOMAIN"]}#{ENV["SCHEDULE_PATH"]}#{@schedule.id}", target:"_blank" ,class:"btn btn-primary " %>
            </center>
          </div>
          <hr>
          <p class="text-gray-700">
              <table>
              <tr>
                <td>
                  <img src="https://i.im.ge/2022/09/28/1AIKAr.ABAConnectVertical-LowRes-CMYK.png" 
                      alt="ABAConnectVertical_LowRes _CMYK" 
                      border="0", width="110" height="80" />
                </td>
                <td>
                  <p class="text-gray-600">
                  <font size=1>
                    © ABA Technology SAS | All rights reserved. Please don’t reply to this email, as we are unable to respond from this email address. 
            	      This was an informative message generated automatically by the system.
                  </font>
                  </p>
                </td>
              </tr>
            </table>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
